/* CSS for website */
.book-summary:not(#a) {
  background: #272e35;
}

li.chapter:not(#a) > a,
li.chapter:not(#a) > span {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  color: hsla(0,0%,100%,.4);
}

ul.articles > li.chapter:not(#a) > a {
  color: rgba(255, 255, 255, 0.6);
}

ul.articles > li.chapter.active:not(#a) > a {
  color: white;
}
